@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pressstart2p/v14/e3t4euO8T-267oIAQAu6jDQyK0nS.ttf) format('truetype');
}
@font-face {
  font-family: 'Urbanist';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/urbanist/v8/L0xjDF02iFML4hGCyOCpRdycFsGxSrqDFRkfFg.ttf) format('truetype');
}
@font-face {
  font-family: 'Comfortaa';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/comfortaa/v40/1Pt_g8LJRfWJmhDAuUsSQamb1W0lwk4S4bbLPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: "Harlow Solid Italic";
  src: url("http://db.onlinewebfonts.com/t/cfa5d186573233bc80be624c35a4702b.eot");
  /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/cfa5d186573233bc80be624c35a4702b.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */ url("http://db.onlinewebfonts.com/t/cfa5d186573233bc80be624c35a4702b.woff2") format("woff2"), /* chrome firefox */ url("http://db.onlinewebfonts.com/t/cfa5d186573233bc80be624c35a4702b.woff") format("woff"), /* chrome firefox */ url("http://db.onlinewebfonts.com/t/cfa5d186573233bc80be624c35a4702b.ttf") format("truetype"), /* chrome firefox opera Safari, Android, iOS 4.2+*/ url("http://db.onlinewebfonts.com/t/cfa5d186573233bc80be624c35a4702b.svg#Harlow Solid Italic") format("svg");
  /* iOS 4.1- */
}
@font-face {
  font-family: 'Press Start 2P';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/pressstart2p/v14/e3t4euO8T-267oIAQAu6jDQyK0nS.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCs16Ew-.ttf) format('truetype');
}
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/montserrat/v24/JTUHjIg1_i6t8kCHKm4532VJOt5-QNFgpCu170w-.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v27/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVtapYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotomono/v21/L0xuDF4xlVMF-BfR8bXMIhJHg45mwgGEFl0_3vqPQw.ttf) format('truetype');
}
* {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: -webkit-gradient(linear, left top, left bottom, from(#9664bc), color-stop(50%, #39279a), to(#0f0925));
  background: linear-gradient(180deg, #9664bc 0%, #39279a 50%, #0f0925 100%);
}
body::-webkit-scrollbar-thumb {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#D0368A), color-stop(99%, #708AD4));
  background-image: linear-gradient(180deg, #D0368A 0%, #708AD4 99%);
  border-radius: 20px;
}
body {
  background-color: #0f0925;
  width: 100%;
}
body canvas {
  display: block;
  vertical-align: bottom;
}
body #particles-js {
  position: absolute;
  width: 100%;
  z-index: -1;
  height: clamp(1472px, 100vh, 3424px);
}
body .container {
  background-color: #0f0925;
  background-image: url(../photos/gradients/gradient_5279.png), url(../photos/gradients/gradient_5278.png), url(../photos/gradients/gradient_5276.png), url(../photos/gradients/gradient_5280.png);
  background-repeat: no-repeat;
  background-position-x: left, left, right, right;
  background-position-y: center, center, center, center;
  margin: 0 auto;
  width: 100%;
  max-width: 1540px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (min-width: 1024px) {
  body .container main .tg {
    text-align: center;
    margin-top: 35px;
    color: white;
    font-family: 'Urbanist', 'Comfortaa', sans-serif;
  }
  body .container main .tg a {
    color: white;
    font-family: 'Urbanist', 'Comfortaa', sans-serif;
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
  body .container main .tg a:hover {
    -webkit-text-decoration: double;
            text-decoration: double;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  body .container main .email-box {
    width: 100%;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .container main .email-box .email-click {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .container main .email-box .email-click .email-copy-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .container main .email-box .email-click .email-copy-wrapper input {
    float: left;
    background-color: transparent;
    height: 60px;
    border: none;
    width: 660px;
    color: white;
    font-family: 'Urbanist', 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 45px;
  }
  body .container main .email-box .email-click .email-copy-wrapper input:focus {
    outline: none;
  }
  body .container main .email-box .email-click .email-copy-wrapper input:hover {
    background-color: #39279a;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  body .container main .email-box .email-click .email-copy-wrapper img {
    margin-top: 10px;
    max-width: 40px;
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  body .container main .email-box .email-click .fixer {
    position: relative;
    display: none;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
  }
  body .container main .email-box .email-click .fixer .bubble {
    font-family: 'Urbanist', 'Comfortaa', sans-serif;
    position: absolute;
    height: 25px;
    width: 80px;
    background-color: #708AD4;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    left: -40px;
    top: -40px;
  }
  body .container main .email-box .email-click .fixer .pointer {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #708AD4;
    margin: 0 auto;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border-radius: 0 0 12px 0;
    position: relative;
    left: -25px;
    top: -20px;
  }
  body .container main .email-box .simple {
    color: white;
    font-family: 'Urbanist', 'Comfortaa', sans-serif;
    font-weight: 300;
    font-size: 25px;
  }
}
@media only screen and (min-width: 1024px) {
  body .container main .can-find {
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 700px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .container main .can-find .title-map {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
  }
  body .container main .can-find .title-map .find-text {
    font-family: 'Urbanist', 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 45px;
    color: white;
    padding-bottom: 40px;
  }
  body .container main .can-find .title-map img {
    position: absolute;
    max-width: 102px;
    left: 70%;
    top: 50px;
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@media only screen and (min-width: 1024px) {
  body .container main iframe {
    border-radius: 20px;
    -webkit-box-shadow: #708ad4 0px 0px 16px 10px;
            box-shadow: #708ad4 0px 0px 16px 10px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  body .container main iframe:hover {
    -webkit-box-shadow: #39279a 0px 0px 16px 10px;
            box-shadow: #39279a 0px 0px 16px 10px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
}
@media only screen and (min-width: 300px) and (max-width: 630px) {
  canvas {
    display: none;
  }
  #particles-js {
    display: none;
  }
  .container {
    background-size: 120%;
  }
  .tg {
    text-align: center;
    margin-top: 35px;
    color: white;
    font-family: 'Urbanist', 'Comfortaa', sans-serif;
  }
  .tg a {
    color: white;
    font-family: 'Urbanist', 'Comfortaa', sans-serif;
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
  .tg a:hover {
    -webkit-text-decoration: double;
            text-decoration: double;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  .email-box {
    width: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .email-box .email-click {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .email-box .email-click .email-copy-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .email-box .email-click .email-copy-wrapper input {
    width: 280px;
    text-align: center;
    background-color: transparent;
    height: 40%;
    border: none;
    color: white;
    font-family: 'Urbanist', 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 125%;
  }
  .email-box .email-click .email-copy-wrapper input:focus {
    outline: none;
  }
  .email-box .email-click .email-copy-wrapper input:hover {
    background-color: #39279a;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .email-box .email-click .email-copy-wrapper img {
    width: 20%;
    position: relative;
    max-width: 40px;
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  .email-box .email-click .fixer {
    position: relative;
    display: none;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
  }
  .email-box .email-click .fixer .bubble {
    font-family: 'Urbanist', 'Comfortaa', sans-serif;
    position: absolute;
    height: 25px;
    width: 80px;
    background-color: #708AD4;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    left: -80px;
    top: -40px;
  }
  .email-box .email-click .fixer .pointer {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #708AD4;
    margin: 0 auto;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border-radius: 0 0 12px 0;
    position: relative;
    left: -25px;
    top: -20px;
  }
  .email-box .simple {
    color: white;
    font-family: 'Urbanist', 'Comfortaa', sans-serif;
    font-weight: 300;
    font-size: 20px;
  }
  .can-find {
    margin-bottom: 100px;
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 225px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .can-find .title-map {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .can-find .title-map .find-text {
    height: 100%;
    font-family: 'Urbanist', 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: white;
    padding-bottom: 50px;
  }
  .can-find .title-map img {
    max-width: 60px;
    margin-bottom: 35px;
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
    -webkit-transform: rotate(139deg);
        -ms-transform: rotate(139deg);
            transform: rotate(139deg);
    -ms-flex-item-align: end;
        align-self: flex-end;
    justify-self: flex-end;
  }
  iframe {
    width: 90%;
    border-radius: 20px;
    -webkit-box-shadow: #708ad4 0px 0px 16px 10px;
            box-shadow: #708ad4 0px 0px 16px 10px;
    max-height: 300px !important;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  iframe:hover {
    -webkit-box-shadow: #39279a 0px 0px 16px 10px;
            box-shadow: #39279a 0px 0px 16px 10px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
}
@media only screen and (min-width: 630px) and (max-width: 1024px) {
  canvas {
    display: none;
  }
  #particles-js {
    display: none;
  }
  .tg {
    text-align: center;
    margin-top: 35px;
    color: white;
    font-family: 'Urbanist', 'Comfortaa', sans-serif;
  }
  .tg a {
    color: white;
    font-family: 'Urbanist', 'Comfortaa', sans-serif;
    text-decoration: underline;
    text-decoration-thickness: 2px;
  }
  .tg a:hover {
    -webkit-text-decoration: double;
            text-decoration: double;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  .email-box {
    width: 100%;
    height: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .email-box .email-click {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .email-box .email-click .email-copy-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .email-box .email-click .email-copy-wrapper input {
    width: 414px;
    text-align: center;
    background-color: transparent;
    height: 40%;
    border: none;
    color: white;
    font-family: 'Urbanist', 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 30px;
  }
  .email-box .email-click .email-copy-wrapper input:focus {
    outline: none;
  }
  .email-box .email-click .email-copy-wrapper input:hover {
    background-color: #39279a;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }
  .email-box .email-click .email-copy-wrapper img {
    width: 20%;
    position: relative;
    max-width: 40px;
    -webkit-filter: invert(100%);
            filter: invert(100%);
  }
  .email-box .email-click .fixer {
    position: relative;
    display: none;
    -webkit-transition: 2s;
    -o-transition: 2s;
    transition: 2s;
  }
  .email-box .email-click .fixer .bubble {
    font-family: 'Urbanist', 'Comfortaa', sans-serif;
    position: absolute;
    height: 25px;
    width: 80px;
    background-color: #708AD4;
    display: block;
    margin: 0 auto;
    border-radius: 20px;
    font-size: 20px;
    text-align: center;
    left: -40px;
    top: -40px;
  }
  .email-box .email-click .fixer .pointer {
    position: absolute;
    height: 10px;
    width: 10px;
    background-color: #708AD4;
    margin: 0 auto;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    border-radius: 0 0 12px 0;
    position: relative;
    left: -25px;
    top: -20px;
  }
  .email-box .simple {
    color: white;
    font-family: 'Urbanist', 'Comfortaa', sans-serif;
    font-weight: 300;
    font-size: 25px;
  }
  .can-find {
    height: 600px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 700px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .can-find .title-map {
    width: 85%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .can-find .title-map .find-text {
    height: 100%;
    font-family: 'Urbanist', 'Comfortaa', sans-serif;
    font-weight: 700;
    font-size: 2em;
    color: white;
    padding-bottom: 50px;
  }
  .can-find .title-map img {
    max-width: 87px;
    margin-bottom: 60px;
    -webkit-filter: brightness(0) invert(1);
            filter: brightness(0) invert(1);
    -webkit-transform: rotate(139deg);
        -ms-transform: rotate(139deg);
            transform: rotate(139deg);
    -ms-flex-item-align: end;
        align-self: flex-end;
    justify-self: flex-end;
  }
  iframe {
    width: 90%;
    border-radius: 20px;
    -webkit-box-shadow: #708ad4 0px 0px 16px 10px;
            box-shadow: #708ad4 0px 0px 16px 10px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
  iframe:hover {
    -webkit-box-shadow: #39279a 0px 0px 16px 10px;
            box-shadow: #39279a 0px 0px 16px 10px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
  }
}
